@use './_variable' as *
    
    
body
    margin: 0
    background-color: $orange

#root
    margin: 0 5rem
    background-color: $blanc_pasBlanc
    padding: 2rem

.listeProduit
    display: grid
    justify-content: center
    grid-template-columns: repeat(4, 18rem)
    gap: 1rem
    row-gap: 1.5rem