main
    #carousel
        .carousel-item 
            min-height: 400px
            img
                object-fit: cover
                max-height: 100%
                

    #speProduc
        margin-top: 5rem